* {
    margin: 0; padding: 0;
}
p {
    padding: 10px;
}
#left {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height:100%;
    background-color: cadetblue;
}
#right {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height:100%;
    background-color: aliceblue;
}