@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400i,500,600,700,800,900');

html{
    //background: #4e4e4e;
    background: #323232;
}
body {
    background-color: #fafafa;
    font-size: 18px;
}

.hello {
    color: #f2b632;
    color: #f9d15a;
    color: #df1f56;
    color: #e96188;
    color: #f5955a;
    color: #ffb384;
    color: #1fa67b;
    color: #51d6ab;

    color: #72bda2;
    color: #17ac76;

    color: #378157;
    color: #8bc3a3;

    color: #2c7e85;
    color: #62a7ad;

    color: #f8605f;
    color: #e62c2a;

    color: #b4b0f7;
    color: #5048e0;

}

.btn-green {
    background-color: #8bc3a3;
    color: white;
}

.btn-green:hover {
    background-color: #378157;
    color: white;
}

.delay-on-hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header {
    color: #f9f9f9;
}

.index-body {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    min-height: 30em;
}

.my-navbar {
    min-height: 100px;
    height: 5%;
    padding-left: 0;
    margin: 0;
    margin-top: 1em;
    border: none !important;
    background-color: #323232;
    color: #ffffff;
}

.logo-div {
    margin-top: 0px;
    display: inline-block;
    height: 100%;
}

.logo-div > h6 {
    letter-spacing: 3px;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2em;;
    display: block;
    height: 100%;
    color: #8cff77 !important;
}

.logo .fa-code {
    color: #f6aeae !important;
}

.header-nav li {
    display: inline-block;
}

.header-nav li .notification-bell:hover {
    color: #8cff77 !important;
}

.header-nav li.auth_img > a > img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    border: 2px solid #f6aeae;
}

.header-nav li.auth_img > a > img:hover {
    border-radius: 0%;
}

.header-nav > li > ul {
    text-align: center;
}

.header-nav > li > ul > li {
    width: 100%;
}

.inline {
    display: inline;
}

.header-nav > li.dropdown:after {
    display: block;
    content: '';

    border-top: solid 4px #8cff77;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header-nav > li:hover:after {
    transform: scaleX(1);
}

.header-nav > li > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: block;
    line-height: 3.6em;
    height: 100%;
    color: #e8e8e8 !important;
}
.header-nav > li > a:hover {
    color: #fff !important;
}
.header-nav > li > ul > li > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: block;
    line-height: 3.6em;
    height: 100%;
    color: #444444 !important;
}
.navbar-nav > .open >a:hover,.navbar-nav > .open >a:focus{
    background-color: #848484 !important;
}

.header-nav li a:hover {
    background-color: #7e7e7e;
    color: #798bbc;
}

.sign {
    margin-left: 5em;
    margin-top: 1.3em;
}

.sign > a {
    text-decoration: none;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    height: 20%;
    line-height: 3em;
    background-color: #ffb384;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 7px 5px 17px 0px rgba(46, 61, 73, 0.15);
}

.sign > a:hover {
    background-color: #f5955a;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.sign > a:focus {
    outline: none;
}

.sign a span {
    color: white;
}

.article-title {
    /*margin-left: 1em;*/
    font-weight: 600;
    border-left: 10px solid #ffb384;
    padding-left: 10px;
}

.login-modal-header {
    font-family: "Montserrat", sans-serif;
    background-color: #5169a9;
    color: #ffffff;
}

.login-modal-body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 0;
    color: #777777;
}

.login-modal-body ul {
    list-style-type: none;
    margin-left: 0;
}

.login-modal-body ul li {
    margin-top: 1em
}

.login-modal-body ul > li > input {
    width: 85%;
}

.sign-in-buttons {
    font-family: "Montserrat", sans-serif;
    height: 3em;
    margin-left: 50%;
}

.gr-btn:hover {
    background-color: #b6bac6;
    color: white;
}

.ora-btn {
    background-color: #f9d15a;
    border-color: #f9d15a;
    color: white;
}

.ora-btn:hover {
    background-color: #f2b632;
    border-color: #f9d15a;
    color: white;
}

.pur-btn {
    background-color: #e96188;
}

.pur-btn {
    background-color: #df1f56;
}

/* -> Group code*/

.group-page-filter {
    margin-top: 1em;
}

.group-page-filter > .group-page-filter-block {
    margin-top: 1em;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.group-page-filter > .group-page-filter-block > .ul {
    list-style: none !important;
}

.stylish-input-group .input-group-addon {
    background: white !important;

}

.stylish-input-group .form-control {
    background-color: white;
    border-right: 0;
    /*max-width: 5em;*/
    /*box-shadow:0 0 0;*/
    /*border-color:#ccc;*/
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.stylish-input-group {

}

.group-list {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    margin-top: 1em;
    padding: 0px;
    color: #444444;

}

.group-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
    border-radius: 10px;
}

.group-list > li > a > img {
    width: 150px;
    border-radius: 10px 0 0 10px;
}

.group-list > li > .info {
    padding-top: 5px;
    text-align: center;
}

.group-list > li > .info {
    border-radius: 0 10px 10px 0;
}

.group-list > li > .info > a {
    color: #72bda2;
}

.group-list > li > .info > a:hover {
    color: #17ac76;
    text-decoration: none !important;
}

.group-list > li > .info > a > .title {
    /*font-size: 17pt;*/
    font-weight: 700;
    margin: 0;
}

.group-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}

.group-list > li > .info > ul,
.group-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.group-list > li > .social > ul {
    margin: 0px;
}

.group-list > li > .info > ul > li,
.group-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}

.group-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.group-list > li > .social > ul > li {
    padding: 0px;
}

.group-list > li > .social > ul > li > a {
    padding: 3px 0px;
}

.group-list > li > .info > ul > li:hover,
.group-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.i-edit a,
.i-group a,
.i-trash a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}

.i-group a {
    color: rgb(79, 213, 248) !important;
}

.i-trash a {
    color: rgb(221, 75, 57) !important;
}

.i-edit:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

.i-group:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}

.i-trash:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .group-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 150px;
        padding: 0px;
    }

    .group-list > li > a {
        display: inline-block;
        width: 150px;
        float: left;
        margin: 0;
        padding: 0;
    }

    .group-list > li > img {
    }

    .group-list > li > .info {
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .group-list > li > a > img {
        width: 150px;
        height: 150px;
        padding: 0px;
        margin: 0px;
    }

    .group-list > li > .info {
        position: relative;
        height: 150px;
        text-align: left;
        padding-right: 40px;
    }

    .group-list > li > .info > a > .title,
    .group-list > li > .info > .desc {
        padding: 0px 10px;
    }

    .group-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .group-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }

    .group-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }

    .group-list > li > .social > ul > li {
        display: block;
        padding: 0px;
    }

    .group-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 15px 0px 15px;
    }
}

/* -> register */

.overflow-hidden {
    overflow: hidden;
}

.pb_cover,
.pb_cover_v1,
.pb_cover_v2,
.pb_cover_v3,
.pb_cover_v4 {
    position: relative;
    height: 95vh;
}

@media (max-width: 767px) {
    .pb_cover,
    .pb_cover_v1,
    .pb_cover_v2,
    .pb_cover_v3,
    .pb_cover_v4 {
        height: inherit;
        text-align: center !important;
        padding: 6em 0;
    }
}

.pb_cover > .container,
.pb_cover_v1 > .container,
.pb_cover_v2 > .container,
.pb_cover_v3 > .container,
.pb_cover_v4 > .container {
    position: relative;
}

.pb_cover > .container > .row,
.pb_cover_v1 > .container > .row,
.pb_cover_v2 > .container > .row,
.pb_cover_v3 > .container > .row,
.pb_cover_v4 > .container > .row {
    height: 95vh;
}

@media (max-width: 767px) {
    .pb_cover > .container > .row,
    .pb_cover_v1 > .container > .row,
    .pb_cover_v2 > .container > .row,
    .pb_cover_v3 > .container > .row,
    .pb_cover_v4 > .container > .row {
        height: inherit;
        padding: 6em 0;
    }
}

.pb_cover .play,
.pb_cover_v1 .play,
.pb_cover_v2 .play,
.pb_cover_v3 .play,
.pb_cover_v4 .play {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: white;
    -webkit-transition: .25s all ease-out;
    -o-transition: .25s all ease-out;
    transition: .25s all ease-out;
}

.pb_cover .play:hover,
.pb_cover_v1 .play:hover,
.pb_cover_v2 .play:hover,
.pb_cover_v3 .play:hover,
.pb_cover_v4 .play:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border: 2px solid white;
}

.pb_cover .play:active, .pb_cover .play:focus,
.pb_cover_v1 .play:active,
.pb_cover_v1 .play:focus,
.pb_cover_v2 .play:active,
.pb_cover_v2 .play:focus,
.pb_cover_v3 .play:active,
.pb_cover_v3 .play:focus,
.pb_cover_v4 .play:active,
.pb_cover_v4 .play:focus {
    outline: none;
}

.pb_cover .play i,
.pb_cover_v1 .play i,
.pb_cover_v2 .play i,
.pb_cover_v3 .play i,
.pb_cover_v4 .play i {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.pb_cover .heading,
.pb_cover_v1 .heading,
.pb_cover_v2 .heading,
.pb_cover_v3 .heading,
.pb_cover_v4 .heading {
    font-size: 62px;
    color: white;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .pb_cover .heading,
    .pb_cover_v1 .heading,
    .pb_cover_v2 .heading,
    .pb_cover_v3 .heading,
    .pb_cover_v4 .heading {
        font-size: 42px;
    }
}

.pb_cover .sub-heading,
.pb_cover_v1 .sub-heading,
.pb_cover_v2 .sub-heading,
.pb_cover_v3 .sub-heading,
.pb_cover_v4 .sub-heading {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    float: left;
}

.pb_cover.text-center .sub-heading,
.pb_cover_v1.text-center .sub-heading,
.pb_cover_v2.text-center .sub-heading,
.pb_cover_v3.text-center .sub-heading,
.pb_cover_v4.text-center .sub-heading {
    margin: 0 auto;
    float: none;
}

.pb_cover.text-right .sub-heading,
.pb_cover_v1.text-right .sub-heading,
.pb_cover_v2.text-right .sub-heading,
.pb_cover_v3.text-right .sub-heading,
.pb_cover_v4.text-right .sub-heading {
    float: right;
}

.pb_cover.text-left .sub-heading,
.pb_cover_v1.text-left .sub-heading,
.pb_cover_v2.text-left .sub-heading,
.pb_cover_v3.text-left .sub-heading,
.pb_cover_v4.text-left .sub-heading {
    float: left;
}

.bg_image, .pb_sm_py_cover,
.pb_md_py_cover,
.pb_lg_py_cover,
.pb_xl_py_cover, .pb_cover,
.pb_cover_v1,
.pb_cover_v2,
.pb_cover_v3,
.pb_cover_v4, .pb_slide_v2 .slide_content > .pb_content-media {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.text-left {
    text-align: left !important;
}

.pb_gradient_v1:before {
    background: #665fee;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /*background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);*/
    background: linear-gradient(45deg, #e2481f 0%, #feffcc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#665fee', endColorstr='#27c2de', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pb_slant-light,
.pb_slant-white {
    position: relative;
}

.pb_slant-light:after,
.pb_slant-white:after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #f2f4f9;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10;
}

.pb_slant-light.pb_slant-reverse:after,
.pb_slant-white.pb_slant-reverse:after {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    left: -100px;
    bottom: -140px;
}

.pb_slant-white:after {
    background-color: #fff;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.bg-white {
    background-color: #fff !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.pb_form_v1 {
    padding: 50px;
    -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
}

@media (max-width: 991px) {
    .pb_form_v1 {
        padding: 30px;
    }
}

.my-body {
    font-family: "Montserrat", sans-serif;
    margin-top: 2em;
}

.my-body > .container {
    background-color: #fdfdfd;
    border-top: 2px solid #f0f2f5;
    border-bottom: 2px solid #f0f2f5;
    min-height: 30em;
    padding-bottom: 2em;
}

.pb_btn-pill {
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-shadow-orange {
    -webkit-box-shadow: 0px 15px 28px -5px rgba(255, 154, 29, 0.45);
    -moz-box-shadow: 0px 15px 28px -5px rgba(255, 154, 29, 0.45);
    box-shadow: 0px 15px 28px -5px rgba(255, 154, 29, 0.45);
}

.form-control.reverse {
    background: #f2f2f2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border-color: #f2f2f2;
}

.form-control.reverse:focus, .form-control.reverse:active {
    background: none;
    border-color: #1d82ff !important;
}

.login-modal-input {
    width: 100%;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-modal-input:hover {
    border: 1px solid #8BC3A3;
}

.login-modal-input:focus {
    color: white;
    outline: none;
    border: 1px solid #8BC3A3;
}

/*<- register END*/

/*footer*/
.bg-light {
    background-color: #f2f4f9 !important;
}

.pb_footer {
    padding: 5em 0;
}

/*End footer*/

/*Profile End*/
.profile-div {
    padding: 0;
    margin: 0;
    margin-top: 2em;
    min-height: 25em;
    background-color: #fdfdfd;
}

.profile-div h3 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.profile-div > .navigation {
    background-color: #fdfdfd;
}

.profile-div > .user-body {
    background-color: #fdfdfd;
    color: #444444;
    min-height: 33em;
    border-bottom: 2px solid #f8f8f8
}

.profile-div > .navigation a {
    color: #a2aece;
}

.profile-div > .navigation a:hover {
    color: #5068a9;
}

.navigation li.active a {
    color: white;
}

.navigation li.active a:hover {
    color: white;
}

.navigation {
    border-top: 2px solid #f8f8f8;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li {
    float: left;
    margin: 0;
    padding: 0;
}

.navigation li a {
    padding: 20px 30px;
    float: left;
}

.navigation li.active a {
    background: #a2aece;
    color: #fff;
}

.navigation li a:hover {
    background: #f8f8f8;
}

.navigation li.active a:hover {
    background: #5068a9;

}

.user-info-block .user-body {
    float: left;
    padding: 5%;
    width: 90%;
}

.profile-img {
    margin-top: 1em;
}

.profile-img img {
    margin-left: 1em;
    width: 17em;
    height: 17em;
    border: 2px solid #d8d8d8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 7px 5px 17px 0px rgba(46, 61, 73, 0.15);
}

.upload-drop-zone > div:first-child {
    background-color: #ffffff;
    clear: both;
    margin-top: 1em;
    color: #ccc;
    width: 17em;
    height: 17em;
    padding: 0;
    border-style: dashed;
    border-color: #ccc;
    line-height: 270px;
    text-align: center
}

.create-img-zone > div:first-child {
    background-color: #f8f8f8;
    clear: both;
    color: #757575;
    width: 17em;
    height: 17em;
    padding: 0;
    border-style: dashed;
    border-color: #e6e6e6;
    line-height: 270px;
    text-align: center
}

/*Create group*/
.mail-message-area {
    width: 100%;
    padding: 0 15px;
}

.mail-message {
    width: 100%;
    background: rgba(255, 255, 255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin: 0 auto;
    border-radius: 0;
}

.not-visible-message {
    height: 0px;
    opacity: 0;
}

.visible-message {
    height: auto;
    opacity: 1;
    margin: 25px auto 0;
}

/* Input Styles */

.form {
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 25px;
    color: #727272 !important;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover {
    border: 1px solid #8BC3A3;
}

.form:focus {
    color: white;
    outline: none;
    border: 1px solid #8BC3A3;
}

.textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;

}

/* Generic Button Styles */

.button {
    padding: 8px 12px;
    display: block;
    width: 120px;
    margin: 10px 0 0px 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}

.button:hover {
    background: #8BC3A3;
    color: white;
}

/* Send Button Styles */

.form-btn {
    width: 180px;
    display: block;
    height: auto;
    padding: 15px;
    color: #fff;
    background: #8BC3A3;
    border: none;
    border-radius: 3px;
    outline: none;

    margin: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgb(69, 168, 112);
    -moz-box-shadow: 0px 1px 4px rgb(69, 168, 112);
    -webkit-box-shadow: 0px 1px 4px rgb(69, 168, 112);
}

.form-btn:hover {
    background: #378157;
    color: white;
    border: none;
}

.form-btn:active {
    opacity: 0.9;
}

.index-content h2 {
    margin-top: 3em;
    color: #4b535e;
}

.index-content p {
    color: #777777;
    margin-bottom: 0;
}

.index-content img {
    margin-top: 2em;
    margin-bottom: 3em;
    width: 60%;
}

/*End create group*/

.members {
    margin-left: 1.5em;
    display: block;

}

.members > a {
    text-decoration: none;
    color: #62a7ad;
}

.members > a:hover {
    text-decoration: none;
    color: #2c7e85;
}

.members span {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: inherit;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgb(98, 167, 173);
    -moz-box-shadow: 0px 0px 0px 3px rgb(98, 167, 173);
    box-shadow: 0px 0px 0px 3px rgb(98, 167, 173);
}

.members div {
    margin-left: 5px;
    display: inline-block;
}

.members span:hover {
    color: #2c7e85;
    box-shadow: 0px 0px 0px 3px rgb(44, 126, 133);
}

.members div:hover {
    color: #2c7e85;
}

/* Group body*/
.group-body > .group-about {
    min-height: 5em;
}

.group-body > img {
    float: right;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    width: 17em;
    height: 17em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    border: 2px solid #d8d8d8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 7px 5px 17px 0px rgba(46, 61, 73, 0.15);
}

.group-body > img:hover {
    width: 18em;
    height: 18em;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.group-body > .comment-title {
    display: block;
    margin-top: 1em;
    color: #0099a6;
    font-size: 22px;
    width: 9em;
    padding-left: 1.2em;
    padding-bottom: 5px;
    border-radius: 15px;
}

.group-body > .comment-title > i {
    font-size: 15px;
}

.group-body > .comment-title:hover {
    color: #016068;
    border-bottom: 1px solid #0099a6;
}

.group-article-description {
    color: #5f5f5f;
    padding-bottom: 1em;
    padding-top: 1em;
    min-height: 7em;
}

.group-body > .author {
    font-size: 14px;
}

.group-btn-edit {
    padding: 12px 46px 12px 46px;
    display: block;
    height: auto;
    color: #fff;
    background: #8BC3A3;
    border: none;
    border-radius: 3px;
    outline: none;
    /*float: left;*/
    margin: 0;
    margin-top: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgb(69, 168, 112);
    -moz-box-shadow: 0px 1px 4px rgb(69, 168, 112);
    -webkit-box-shadow: 0px 1px 4px rgb(69, 168, 112);
}

.group-btn-edit:hover {
    background: #378157;
    color: white;
    border: none;
}

.group-btn-edit:active {
    opacity: 0.9;
}

.group-btn-del {
    padding: 12px 35px 12px 35px;
    display: block;
    height: auto;
    color: #fff;
    background: #e69494;
    border: none;
    border-radius: 3px;
    outline: none;
    /*float: left;*/
    margin: 0;
    margin-top: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -moz-box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -webkit-box-shadow: 0px 1px 4px rgb(230, 148, 148);
}

.group-btn-del:hover {
    background: #da4444;
    color: white;
    border: none;
}

.group-btn-del:active {
    opacity: 0.9;
}

.group-btns {
    text-align: center;
}

.group-btns a {
    /*float: right;*/
    margin-right: 5px;
    text-decoration: none;
    display: inline-block;
}

.comment-send-block {
    margin-left: 5em;
}

.comment-send-block textarea {
    width: 97%;
    margin-right: 2em;
}

.btn-blue {
    border: none;
    background-color: #6e9dc5;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    height: 45px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgb(110, 157, 197);
    -moz-box-shadow: 0px 1px 4px rgb(110, 157, 197);
    -webkit-box-shadow: 0px 1px 4px rgb(110, 157, 197);
}

.btn-blue:hover {
    background-color: #3982bf
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 2em 1em 0;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #d8d8d8;
}

.comment-img img {
    width: 50px;
    height: 50px;
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments {
    margin-top: 2em;
}

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0, 0, 0, 0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

/*Group page END*/

/*Profile start*/
.subject a:hover {
    text-decoration: none;
}

.subject {
    margin-bottom: 20px;
    padding: 50px 0px;
    clear: both;
    overflow: hidden;
}

/*.subject .row{*/
/*margin-top:20px;*/
/*}*/

.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.subject .card {
    background-color: #FFFFFF;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    padding-bottom: 3em;
    margin-bottom: 2em;
}

.subject .card:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    color: black;
}

.subject .card img {
    width: 100%;
    min-height: 180px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.subject .card h4 {
    margin: 20px;
}

.subject .card p {
    margin: 20px;
    opacity: 0.65;
}

.subject .card .lead {
    margin-left: 1em;
}

.subject .blue-button {
    width: 100px;
    -webkit-transition: background-color 1s, color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s, color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}

.subject .blue-button:hover {
    background-color: #dadada;
    color: #002E5B;
}

@media (max-width: 768px) {

    .subject .col-lg-4 {
        margin-top: 20px;
    }
}

.sub-card-del-btn {
    color: #fff;
    background: #e69494;
    float: right;
    margin-right: 5px;
    padding: 12px 35px 12px 35px;
    box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -moz-box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -webkit-box-shadow: 0px 1px 4px rgb(230, 148, 148);
}

.sub-card-del-btn:hover {
    background: #da4444;
    color: #fffFFF;
    border: none;
}

.group-btn-del {
    padding: 12px 35px 12px 35px;
    display: block;
    height: auto;
    color: #fff;
    background: #e69494;
    border: none;
    border-radius: 3px;
    outline: none;
    /*float: left;*/
    margin: 0;
    margin-top: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -moz-box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -webkit-box-shadow: 0px 1px 4px rgb(230, 148, 148);
}

.group-btn-del:hover {
    background: #da4444;
    color: white !important;
    border: none;
}

.group-btn-del:active {
    opacity: 0.9;
}

/*Footer */
.footer-bottom {
    text-align: center;
    background-color: #2d2e35;
    min-height: 30px;
    width: 100%;
    margin-top: 3em;
    border-top: 2px solid #f0f0f0;
    height: 4em;
}

.footer-bottom .copyright {
    color: #777777;
    line-height: 50px;
    min-height: 50px;
    padding: 7px 0;
}

/*Footer end*/

/*Subjects*/
.selector {
    position: absolute;
    /*left: 50%;*/
    /*top: 50%;*/
    width: 140px;
    height: 140px;
}

.selector, .selector button {
    font-weight: 300;
}

.selector button {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #df1f56;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all .1s;
}

.selector button:hover {
    background: #e96188;
}

.selector button:focus {
    outline: none;
}

.selector ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
}

.selector li {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0 50%;
    -webkit-transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;
}

.selector li input {
    display: none;
}

.selector li input + label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin-left: 0;
    background: #b4b0f7;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover {
    background: #f0f0f0;
}

.selector li input:checked + label {
    background: #5048e0;
    color: white;
}

.selector li input:checked + label:hover {
    background: #5048e0;
}

.selector.open li input + label {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-left: -40px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

/*subjects end*/

/*users team start*/
.users-team-body {
    color: #333333;
}

.panel {
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

.panel .btn-group {
    margin: 15px 0 30px;
}

.panel .btn-group .btn {
    transition: background-color .3s ease;
}

.table-filter {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.table-filter tbody tr:hover {
    background-color: #eee;
}

.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}

.table-filter tbody tr.selected td {
    background-color: #eee;
}

.table-filter tr td:first-child {
    width: 38px;
}

/*.table-filter tr td:nth-child(2) {*/
/*width: 35px;*/
/*}*/
.ckbox {
    position: relative;
}

.ckbox input[type="checkbox"] {
    opacity: 0;
}

.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ckbox label:before {
    content: '';
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bbb;
    background-color: #fff;
}

.ckbox input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}

.ckbox input[type="checkbox"]:checked + label:after {
    top: 3px;
    left: 3.5px;
    content: '\e013';
    color: #fff;
    font-size: 11px;
    font-family: 'Glyphicons Halflings';
    position: absolute;
}

.table-filter .media-photo {
    width: 35px;
}

.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}

.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}

.table-filter .media .title span.pagado {
    color: #5cb85c;
}

.table-filter .media .title span.pendiente {
    color: #f0ad4e;
}

.table-filter .media .title span.cancelado {
    color: #d9534f;
}

.table-filter .media .summary {
    font-size: 14px;
}

/*users team end*/

/* effect-shine */
a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

/*admin-dashboard start*/
.admin-dashboard > ol {
    margin-top: 2em;
}

.site-overview > .panel-heading {
    background-color: #b4b0f7;
}

.site-overview > .panel-body > .col-md-3 > .active {
    color: #333333 !important;
}

.site-overview > .panel-heading > .panel-title {
    color: white;
}

.site-overview > .panel-body > .col-md-3 {
    color: #777777;
}

.site-overview > .panel-body > .table {
    color: #333333;
}

/*admin-dashboard end*/

/*subject-add*/

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}

.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #84c7c1;
    background-image: none;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color: #84c7c1;
    left: 15px;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}

.table-subjects {
    margin-top: 3em;
    table-layout: fixed;
    color: #212529;
}

.table-subjects img {
    width: 100%;
}

.table-subjects > thead {
    color: #777777;
    background-color: #ffeeba;
}

.btn-light-blue {
    padding: 12px 46px 12px 46px;
    display: block;
    height: auto;
    color: #fff;
    background: #84c7c1;
    border: none;
    border-radius: 3px;
    outline: none;
    margin: 1em 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-light-blue:hover {
    background: #5169a9;
}

/*subject-add END*/

/*notification Start ->*/

.notifications {
    margin-top: 3em;
    color: #444444;
    list-style: none;
}
.notifications > h2{
    margin-bottom: 1em;
}

.notifications .media-body .notification-title a {
    font-weight: 600;
}

.notifications .media {
    margin-bottom: 1em;
}

.notifications .media .pull-right button {
    margin-top: 1em;
    display: inline-block;
}

.notifications .media .pull-right .btn-decline {
    color: #fff;
    background: #e69494;
    border: none;
    border-radius: 3px;
    outline: none;
    padding-right: 30px;
    padding-left: 30px;
    height: 45px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -moz-box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -webkit-box-shadow: 0px 1px 4px rgb(230, 148, 148);
}

.notifications .media .pull-right .btn-decline:hover {
    background: #da4444;
    color: white;
    border: none;
}

.notifications .media .pull-right .btn-decline:active {
    opacity: 0.9;
}

.notifications > li {
    border-bottom: 1px solid #cccccc;
}

.notifications > li .media {
    margin-top: 0.5em;
}

.notifications img {
    height: 75px;
    width: 75px;
    border: 1px solid #cccccc;
}

.notification-icon {
    margin-right: 6.8775px
}

.notification-icon:after {
    position: absolute;
    content: attr(data-count);
    margin-left: -6.8775px;
    margin-top: -6.8775px;
    padding: 0 4px;
    min-width: 13.755px;
    height: 13.755px;
    line-height: 13.755px;
    background: #ff4d56;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 11.004px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.notification .media-body {
    padding-top: 5.6px
}

.btn-lg .notification-icon:after {
    margin-left: -8.253px;
    margin-top: -8.253px;
    min-width: 16.506px;
    height: 16.506px;
    line-height: 16.506px;
    font-size: 13.755px
}

.btn-xs .notification-icon:after {
    content: '';
    margin-left: -4.1265px;
    margin-top: -2.06325px;
    min-width: 6.25227273px;
    height: 6.25227273px;
    line-height: 6.25227273px;
    padding: 0
}

.btn-xs .notification-icon {
    margin-right: 3.43875px
}

/*notification End <--*/


.btn-remove{
    padding: 5px 10px 5px 10px;
    display: block;
    height: auto;
    color: #fff;
    background: #e69494;
    border: none;
    border-radius: 3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -moz-box-shadow: 0px 1px 4px rgb(230, 148, 148);
    -webkit-box-shadow: 0px 1px 4px rgb(230, 148, 148);
}

.btn-remove:hover {
    background: #da4444 !important;
    color: white !important;
    border: none;
}
